.App {
  text-align: center;
}


.add-item-container {
  max-width: 300px;
  margin: 30px auto;

}

.inventory-list-container {
  max-width: 300px;
  margin: 30px auto;
}

.inventory-list-container ul {
  text-align: left
}